page-language {
    .bar-buttons{
        display: none
    }
    .toprow{
        background-color: #efc658;
        text-align: center;
        font-family: 'AppFont' !important;
    }
    .note , .signin{
        background-image: url(../assets/imgs/shape.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 75%;
        height: 55px;
        font-size: 20px;
        text-align: center;
        padding: 7px 14px;
        margin: 60px auto 0;
        font-weight: 500;
        font-family: 'AppFont' !important;
    }
    .signin{
        background-image: url('../assets/imgs/hovershape.png');
        color: white;
    }
    
}
