page-horsedetails {

  .toprow{
    background-color: #efc658;
    text-align: center;
    font-family: 'AppFont' !important;
    font-weight: bold;
  }

  .topdiv{
    background-image: url(../assets/imgs/doctorbg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 140px;
    opacity: 0.8;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.84);
    .heart{
      position: absolute;
      left: 10px;
      height: 25px;
      margin: 10px 0;
    }


    .simg{
      height: 100px;
      margin-top: 20px;
      border-radius: 50%;
      box-shadow: 0px 0px 30px 0px #efc658;
    }
  }

  .docname{
    text-align: center;
    font-family: 'AppFont' !important;
    font-weight: bold;
    margin-top: -26px;
  }

  .send{
    width: 30%;
    margin: 10px auto;
    background-color: #a97b03;
    color: white;
    height: 30px;
    font-family: Appfont;

  }

  .segment-md .segment-button , .segment-ios .segment-button{
    background-color: #a97b03;
    opacity: 1;
    font-family: Appfont;
    color: white;
    font-size: 14px;
    height: 40px;
  }

  .segment-md .segment-button.segment-activated
  {
    background-color: white !important;
    color: #a97b03 !important;
    border: 1px solid #a97b03 !important;
    border-bottom: 1px solid #a97b03 !important;

  }

  // .segdiv{
  //   height: 185px;
  // }

  //.map{
  //    height: 185px;
  //    width: 100%;
  //}
  .innerseg{
    border-bottom:1px solid gray;
    border-right:1px solid gray;
    border-left:1px solid gray;
    p{
      margin:0;
      padding: 20px 30px;
      text-align: center;
      font-family: Appfont;
      direction: rtl;
      color: gray;
      font-size: 13px;
      max-height: 180px;
    }
    .row{
      direction: rtl;
      font-family: Appfont;
      margin: 10px auto;
      width: 90%;
      height: 30px;
      max-height: 30px;
      min-height: 30px;
      [col-1]{
        text-align: center;
        padding-top: 7px;
      }

      img{
        height: 20px;
        max-height: 20px;
        min-height: 20px;
      }
    }
  }
  #map {

    height: 185px;
    width: 100%;
  }
  .map {
    height: 185px;
    width: 100%;    }

  .tobalagh{
    width: 100%;
    background-color: brown;
    opacity: 1;
  }
  a[disabled], button[disabled], [ion-button][disabled]{
    opacity: 0.7;
  }
  .placename{
    border:1px solid black;
    background-color:white
  }
}
