page-transportionhisdetails {
    .toprow{
        background-color: #efc658;
        text-align: center;
        font-family: 'AppFont' !important;
        font-weight: bold;
      }
      .controw{
        border: 1px solid #efc658;
        margin: 10px 15px;
        padding: 5px;
        height: auto;
        z-index: 100;
    
        .docimg{
          height: 100%;
          min-height: 100%;
          max-height: 100%;
        }
        .row , .col {
          padding: 0
        }
    
        p , h6{
          margin: 0;
          font-family:Appfont;
          padding: 2px 5px
        }
    
        h6{
          font-weight: 600;
          font-size: 20px;
          text-align: center;
        }
    
        .p1{
            font-size: 15px;
            color: gray;
            overflow: hidden;
        }
    
        .p2{
          color: lightgray;
          font-size: 12px;
          height: 25px;
          max-height: 25px;
          min-height: 25px;
        }
        .p3{
          display: inline;
          color: #ba8700;
          font-size: 12px;
        }
    
        [col-1]{
          text-align: center;
          img{
            width: 20px;
            max-width: 20px;
          }
        }
      }
      .mybtn{
          border: 1px solid #ba8700;
          font-family: Appfont;
          color: #ba8700;
          font-size: 14px;
          font-weight: 600;
          background-color: white;
          width: 85%;
          margin: 10px auto;
         
      }
  .editinput , .message{
    border:1px solid lightgray;
    width: 90%;
    height: 30px;
    margin: 10px auto 0;
    ::placeholder{
      font-family: Appfont;
    }};

    .text-input{
      direction: rtl;
    }
}
