
<ion-content>
  <header></header>
  <subheader></subheader>
  <ion-row class="toprow"><ion-col col-12 >{{'Order Details'|translate}}</ion-col></ion-row>

  <div>
    <ion-row dir="rtl" class="controw">
      <ion-col col-12>
        <ion-row>
          <ion-col col-12>
            <h6>{{order_id}} </h6>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col col-11>
            <p class="p1">
                {{'Origin Place'|translate}}  : {{origin}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-11>
            <p class="p1">
                {{'Destination Place'|translate}}  :{{destination}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-11>
            <p class="p1">
           {{'Order Status'|translate}}:{{status}}
            </p>
          </ion-col>
        </ion-row>      <ion-row>
          <ion-col col-11>
            <p class="p1">
           {{'Phone Number'|translate}}:{{mobile}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-11>
            <p class="p1">
                {{'Service Provider name'|translate}} : {{transport_service_provider}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-11>
            <p class="p1">
<a href="http://www.sahel-horse.com/api/ar/map/{{order_id}}">{{'Map'|translate}}</a>
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-11>
            <p class="p1">
              {{'Price'|translate}} : {{cost}}
            </p>
          </ion-col>
        </ion-row>
<form #f="ngForm">
  <div *ngIf="!transporterFlag">
        <ion-row>
          <div *ngIf="status != 'pending'">

          <div *ngIf="status != 'cancel' && status != 'finish' ">

          <ion-col col-4>
            <button ion-button (click)="action('finish')" block class="mybtn">{{'Finish'|translate}}</button>
          </ion-col>
          <ion-col col-4>
            <button ion-button (click)="action('cancel')" block class="mybtn">{{'Cancel'|translate}}</button>
          </ion-col>
            <ion-col col-4>
              <button ion-button (click)="action('continue')" block class="mybtn">{{'Continue'|translate}}</button>
            </ion-col>
          </div>

          </div>



        </ion-row>

  <ion-row>
    <ion-col col-4>
      <ion-input style="border:dotted;" [(ngModel)]="sendComplain" name="sendComplain" type="text" placeholder="ارسل شكوي"></ion-input>
    </ion-col>
    <ion-col col-6>
      <button ion-button (click)="complain()" block class="mybtn">ارسال شكوي</button>
    </ion-col>
  </ion-row></div><div *ngIf="transporterFlag">

  <ion-col col-4>
    <button ion-button (click)="action('confirm')" block class="mybtn">قبول الطلب</button>
  </ion-col>

</div>
</form>

      </ion-col>
    </ion-row>
  </div>
</ion-content>
