page-favorite {
.content{
    
        background-image: none;
    
    }
    .scroll-content{
        position: fixed;
    }
    .toprow{
        background-color: #efc658;
        text-align: center;
        font-family: 'AppFont' !important;
    }
    .contdiv{
        padding: 10px;
        background-color: #f4f4f4;
        font-family: Appfont;
        height: 100%;
    }
    .itemrow{
        background: white;
        direction: rtl;
        height: 155px;
        border-bottom: 2px solid lightgray;
        ion-icon{
            color: lightgray;
        
        }
    }
    p{
        margin:0;
    }
    .p1{
        font-weight: 600;
    
    }
    .p2{
        
        color: gray;
        font-size: 12px;
        height: 60px;
        overflow: scroll;
        max-height: 60px;
    }
    .p3{
        font-weight: 600;
        color:#efc658 ; 
    }
    .shopimg{
        height: 90%;
        border: 1px solid gray;
        margin: 5px 0 0;
        max-height: 90%;
        min-height: 90%;
    }
    .botrow{
        direction: rtl;
        text-align: center;
        margin: 10px 0%;
        color: white;
        font-weight: 600;
        position: relative;
        bottom: 0;
        p{
            height: 55px;
            background: #ba8700;
            padding-top: 10px;
            
        }
    }
}
