page-securityterms {
.toprow{
    background-color: #efc658;
    text-align: center;
    font-family: 'AppFont' !important;
}
.imgdiv{
    text-align: center;
    padding: 10px 0;
    img{
        height: 170px;
        border-radius: 50%;
    }
}
.par{
    text-align: end;
    margin: 10px 15px;
    font-family: Appfont;
}
}
