<ion-content>
<header></header>
<ion-row class="toprow"><ion-col col-12 (click)="more()" >المزيد</ion-col>
</ion-row>
<div  class="conrdiv">

  
  <!-- code for image in chat you can use it as sender and reciver -->


  <div *ngFor="let m of msgs">
    <div *ngIf="m['message'] != null">
    <ion-row *ngIf="member_id == m['sender_id']" dir="rtl" style="margin:0 0 20px;">
      <ion-col col-8>
        <!--<h4 class="titlename1">Ahmed Gomaa</h4>-->
        <div class="browndiv">
          <p class="p1">{{m['message']}}</p>
          <p class="p2">{{m['created']}}</p>
        </div></ion-col>
      <ion-col col-4></ion-col>
    </ion-row>

    <ion-row *ngIf="member_id != m['sender_id']" dir="rtl" style="margin:0 0 20px;">
      <ion-col col-4></ion-col>
      <ion-col col-8>
        <!--<div class="sender" style="background:{{m.sender_image}}">-->
        <img  (click)="goPrivate(m['sender_id'])" class="sender" src={{m.sender_image}}>
        <!--</div>-->
        <h4 class="titlename">{{m['sender_name']}}</h4>
        <div class="graydiv">
          
          <p class="p1">{{m['message']}}</p>
          <p class="p2">{{m['created']}}</p>
        </div></ion-col>
    </ion-row>

    </div>



    <div *ngIf="m['message'] == ''">
      <ion-row *ngIf="member_id == m['sender_id']" dir="rtl" style="margin:0 0 20px;">
        <!--<ion-col col-8>-->
          <!--<div class="browndiv">-->
            <img   src={{m.attachments}} class="chatimage">
          <!--</div>-->
        <!--</ion-col>-->
        <!--<ion-col col-4>-->

        <!--</ion-col>-->
      </ion-row>


      <ion-row *ngIf="member_id != m['sender_id']" dir="rtl" style="margin:0 0 20px;">
        <ion-col col-4></ion-col>
        <ion-col col-8>
          <!--<div class="sender" style="background:{{m.sender_image}}">-->
          <img  class="sender" src={{m.sender_image}}>
          <img  (click)="maxmizeImage()" class="chatimage" src={{m.attachments}} >
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>
  <ion-infinite-scroll not-on (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content scrollX="true"  scrollY="false"
  loadingSpinner="bubbles"
  loadingText="Loading more data...">
  </ion-infinite-scroll-content>                 </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <form #f="ngForm">
  <ion-row>
    <ion-col col-2 style="text-align: center"><button [disabled]="!f.valid" (click)="sendMessage()" ion-button clear class="btnchat" ><ion-icon name="send"></ion-icon></button></ion-col>
    <ion-col col-8><ion-input [(ngModel)]="messageBody" name="messageBody" type="text" class="msg" required></ion-input></ion-col>
    <ion-col col-2 style="text-align: center"><button  (click)="sendImage()"  ion-button clear class="btnchat" ><ion-icon name="attach"></ion-icon></button></ion-col>
  </ion-row>
  </form>
</ion-footer>
