subheader {
    div{
        height: 78px;
    }
.headerrow{
    .imgcol{
            text-align: center;
    }

}
.line{
    height: 70px !important;
}
.topp{
    margin:0;
    font-family: sFont;
    font-size: 5.4vw;
}
}
