page-horses {
.toprow{
    background-color: #efc658;
    text-align: center;
    font-family: 'AppFont' !important;
}
.controw{
    direction: rtl;
    font-family: Appfont;
}
.p1{
    margin: 0;
    background: #ba8700;
    padding: 0 5px;
    height: 26px;
    color: white;
    width: 85px;
    text-align: center;
}
.p2{
    font-size: 12px;
    text-align: center;
    margin:0;
}
h6{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ba8700;
    width: 50%;
    margin: 0 auto;
    font-size: 15px;
}
}
