// http://ionicframework.com/docs/theming/

@font-face {
font-family: AppFont;
src: url("../assets/fonts/Cairo/Cairo-regular.ttf");
}

@font-face {
    font-family:sFont;
    src: url("../assets/fonts/ArefRuqaa-Regular.ttf");
    }

.swiper-slide img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

ion-menu .header{
    height:110px;
    .toolbar{
        height: 100%;
    }
}

ion-menu .toolbar-title-ios {
    height: 100px;
    padding: 10px;
}
.topp{
    margin:0;
    font-family: sFont;
    
}

.menu-inner > ion-content{
    margin-top:0;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
page-forgetpass.ion-page.show-page{
    height: 350px !important; 
    position: absolute;
    top: 135px;
    left: 15px;
    width: 92%;
}
page-fee.ion-page.show-page{
    height: 350px !important; 
    position: absolute;
    top: 135px;
    left: 15px;
    width: 92%;
}
page-rate.ion-page.show-page{
    height: 350px !important; 
    position: absolute;
    top: 135px;
    left: 15px;
    width: 92%;
}
page-cancelhint.ion-page.show-page{
    height: 350px !important; 
    position: absolute;
    top: 135px;
    left: 15px;
    width: 92%;
}
page-complain.ion-page.show-page{
    height: 350px !important; 
    position: absolute;
    top: 135px;
    left: 15px;
    width: 92%;
} 
ion-modal {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    contain: strict;
    background-color: rgba(0, 0, 0, 0.84);
}
.content {
    background-image: url(../assets/imgs/bg.png);
    background-size: 100% 35%;
    background-position: bottom;
    background-repeat: no-repeat;
}
.menubtn{
    background-color: #ba8700;
    color: white;
    font-family: Appfont;
    direction: rtl;
    padding: 0;
    ion-icon{
        margin: 0 5px;
    }
}
.md .menu-inner{
    height: auto;
    min-height: 540px;
    width: 225px;
}
.ios .menu-inner{
    height: auto;
    min-height: 540px;
    width: 225px;
}
.toolbar-ios ion-title{
    padding: 0 10px;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}
button.item-ios:not([detail-none]) .item-inner {
    background-image: none;
    padding: 0;
    font-size: 15px;
}
.bar-buttons-ios {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    margin-top: -18px;
}
.bar-buttons-md {
    margin-top: -13px;
}
.segment-ios .segment-button.segment-activated {
    color:#efc658 ;
    background-color: #fff;
    border: 1px solid #efc658 ;
}
.segment-ios .segment-button {
    border: 1px solid #efc658 ;
}