page-aboutsahiel {
.toprow{
    background-color: #efc658;
    text-align: center;
    font-family: 'AppFont' !important;
}
header .headerrow .rightimgs {display: none;}
.howare{
    text-align: start;
    direction: rtl;
    color: #ba8700;
    // padding: 0 15px;
    font-size: 17px;
    margin: 0;
    font-family: 'AppFont';
}

.text{
    padding: 0 15px;
    color: gray;
    font-family: Appfont;
    text-align: right;
}
header .headerrow img {
    display: none;
}

.bottomdiv{
    background-image: url(../assets/imgs/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 250px;
    
}

details{
    width: 85%;
    margin: 10px auto;
    font-size: 17px;
    font-family: Appfont;
    direction: rtl;
    p {
        font-size: 15px;
    }
}
summary{
  background-color: lightgray;
  color: gray;
  padding: 0 10px;
}
details[open] > summary {
    background-color: #c69d2f;
    color: white;
    
  }
  details summary::-webkit-details-marker {
    display: none;
  }

  summary:after {
    border-radius: 5px;
    content: "+";
    color: gray;
    float: left;
    font-weight: bold;
    
    padding: 0;
    text-align: center;
    width: 20px;
  }

  details[open] summary:after {
    content: "-";
    color: white;
  }
}
