page-transportation-transporter-history {
  .toprow{
    background-color: #efc658;
    text-align: center;
    font-family: 'AppFont' !important;
    font-weight: bold;
  }

  .contdiv{
    border: 1px solid gray;
    direction: rtl;
    margin: 5px auto 10px;
    font-family: Appfont;
    padding:0 10px;
    width: 95%;
    background: white;
    h6 , p{margin:5px}
    h6{
      font-weight: 600;
    }
    p:first-of-type{
      color: gray;
      font-size: 13px;
    }
    p:last-of-type{
      color: #ba8700;
      display: inline-block;
      font-size: 11px;
    }
  }
}
