<!-- Generated template for the HeaderComponent component -->
<div>
  <ion-row class="headerrow">
    <!-- <ion-col col-2 class="imgcol"> 
      
    </ion-col> -->
    <ion-col col-3 class="imgcol"> 
        <ion-buttons left navPop style="float:left">
            <button ion-button icon-only style="display:inline;background: transparent;box-shadow: none;color: #ab7d04;">
              <ion-icon name="arrow-back"></ion-icon>
            </button>
          </ion-buttons>
      <img src="assets/imgs/basket.png" (click)="cartshop()">
      
    </ion-col>
    <ion-col col-1 style="text-align:center"> 
      <img src="assets/imgs/headline.png" class="line">
    </ion-col>
    <!--<ion-col col-1 class="imgcol"> <img src="assets/imgs/search.png"></ion-col>-->
    <ion-col col-5 ></ion-col>
    <ion-col col-2 class="imgcol"  (click)="openMenu()"> <img style="display:inline-block;" src="assets/imgs/menu.png"></ion-col>
 </ion-row>

 
</div>

