page-rate {
.content{
    background-image: url("../assets/imgs/forpass.png");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
.contdiv{
    height: 200px;
    font-family: Appfont;
    direction: rtl;
    width: 85%;
    margin: 50px auto;
    text-align: center;

}

.p1{
    width: 100%;
    position: fixed;
    bottom: 0px;
    font-size: 20px;
    right: 0;
    color:white;
}

.p2{
    width: 170px;
    position: fixed;
    bottom: 0px;
    font-size: 20px;
    left: 0;
    color:white;
}
}
