<ion-content>
  <header></header>
 <subheader></subheader>
<ion-row class="toprow"><ion-col col-12 >{{'Add Product'|translate}}</ion-col></ion-row>
<form class="myform" #f="ngForm">

  <button ion-button block (click)="serviceImage()" class="btn" >{{'Add Images'|translate}}</button>
<img *ngIf="image != null" src={{image}}/>
    <ion-input type="text" [(ngModel)]="title_ar" name="title_ar" placeholder="اسم المنتج">{{title_ar}}</ion-input>
  <ion-input type="text" [(ngModel)]="title_en" name="title_en" placeholder="product name">{{title_en}}</ion-input>
  <ion-input type="text"  [(ngModel)]="details_ar" name="details_ar" placeholder="الوصف">{{details_ar}}</ion-input>
  <ion-input type="text" [(ngModel)]="details_en" name="details_en" placeholder="Description">{{details_en}}</ion-input>
  <ion-input type="text"  [(ngModel)]="price" name="price" placeholder="السعر">{{price}}</ion-input>
  <!--<ion-input type="text" placeholder="price"></ion-input>-->
  
  <ion-item class="selection">
         <ion-label>{{'Choose Categorey'|translate}}</ion-label>
             <ion-select   okText="اختر" cancelText="الغاء" required="true">

             <ion-option (ionSelect)="getSelectedCat(c.category_id)"  *ngFor="let c of allCategories"  value={{c.title_ar}} required>{{c.title_ar}}</ion-option>


        </ion-select>
     </ion-item>

     <button ion-button block (click)="submit()" class="btn">{{'Add'|translate}}</button>
</form>

</ion-content>
