header {
div{
    background-image: url('../assets/imgs/brown.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 55px;
    color: burlywood;
}
.headerrow{
        padding-top: 5px;
    .imgcol{
            text-align: center;
            padding-top: 15px;
    }
    img{
        height: 15px;
}
}
.line{
    height: 35px !important;
}


}
