page-nextevents {
    .toprow{
        background-color: #efc658;
        text-align: center;
        font-family: 'AppFont' !important;
    }

    .controw{
        border: 1px solid gray;
        margin: 10px 15px;
        padding: 5px;
        height: 125px;
        max-height: 125px;
        min-height: 125px;
        z-index: 100;
    
        .docimg{
            height: 100%;
            min-height: 100%;
            max-height: 100%;
        }
        .row , .col {
            padding: 0
        }
    
        p , h6{
            margin: 0;
            font-family:Appfont;
            padding: 2px 5px
        }
    
        h6{
                font-weight: 600;
                font-size: 12px;
        }
    
        .p1{ 
            font-size: 11px;
            color: gray;
            max-height: 70px;
            height: 70px;
            padding-top: 10px;
            overflow: scroll;
        
        }
    
       .p2{
            color: lightgray;
            font-size: 12px;
            height: 25px;
            max-height: 25px;
            min-height: 25px;
        }
       .p3{
           display: inline;
           color: #ba8700;
           font-size: 12px;
        }
    
        [col-1]{
            text-align: center;
            padding-top: 20px;
            img{
                width: 20px;
                max-width: 20px;
               
            }
        }
    }
}
