page-selectloc {
  #map {

    height: 86%;
    height: 100%;
  }
  .map {
    height: 100%
  }

  .tobalagh{
    width: 100%;
    background-color: brown;
    opacity: 1;
  }
  a[disabled], button[disabled], [ion-button][disabled]{
    opacity: 0.7;
  }
  .placename{
    border: 1px solid black;
    background-color: white;
    width: 87%;
    margin-bottom: -10%;
    height: 37px;
    position: relative;
  }
  .forma{
    position:fixed;
    bottom:0;
    width:100%
  }
  .bar-buttons-ios {
    margin: 0 !important;
  }
  .searchButton{
    width: 14%;
    // padding-top: 4%;
    /* margin-bottom: 1%; */
    /* border-radius: 42%; */
    height: 33px;
    margin-left: 87%;
    border: 1px black solid;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    /* align-content: center; */
    background-color: whitesmoke;
     position: relative; 
    z-index: 2;
    opacity: 1;
  }
}
