page-selectloc {
  #map {

    height: 86%;
    height: 100%;
  }
  .map {
    height: 100%
  }

  .tobalagh{
    width: 100%;
    background-color: brown;
    opacity: 1;
  }
  a[disabled], button[disabled], [ion-button][disabled]{
    opacity: 0.7;
  }
  .placename{
    border:1px solid black;
    background-color:white;
    width: 100%;
    margin-bottom: -11%;
    position: relative;
    //z-index: 1;
  }
  .forma{
    position:fixed;
    bottom:0;
    width:100%
  }
  .bar-buttons-ios {
    margin: 0 !important;
  }
  .searchButton{
    width: 10%;
    margin-bottom: 1%;
    border-radius:25%;
    height: 35px;
    margin-left: 88%;
    border: 1px black solid;
    //margin-left: 90%;
    align-content: center;
    background-color: whitesmoke;
    position: relative;
    z-index: 2;
    opacity: 1;
  }
}
