

<ion-content>
 <header></header>
 <subheader></subheader>
<ion-row class="toprow">
  <ion-col col-1></ion-col>
  <ion-col col-6 style="text-align:end;font-weight: bold;">سجل الان</ion-col>
  <ion-col col-1 style="text-align:start"><img src="assets/imgs/signup.png" height="30px"></ion-col>
  <ion-col col-4 style="text-align:end"></ion-col>
</ion-row>

<p class="topp">كما يمكنك استخدام اسم المستخدم وكلمه المرور لتسجيل الدخول للموقع</p>
<form class="myform"  #f="ngForm">
   <p class="thelabel">اسم المستخدم</p>
   <ion-input [(ngModel)]="_username" id="_username" name="_username" style="text-align:center" type="text"></ion-input>
    <p class="thelabel">البريد الالكترونى</p>
   <ion-input [(ngModel)]="_email" id="_email" name="_email" style="text-align:center" type="email"></ion-input>
   <p class="thelabel">كلمه المرور</p>
   <ion-input [(ngModel)]="_password" id="_password" name="_password" style="text-align:center" type="password"></ion-input>
   <p class="thelabel">الجوال </p>
   <ion-input [(ngModel)]="_mobile" id="_mobile" name="_mobile"  style="text-align:center" type="tel"></ion-input>

    <ion-item class="selection">
   <!--<p class="thelabel">الدولة</p>-->
        <ion-label>اختر الخدمة</ion-label>

        <ion-select   interface="popover"   okText="اختر" cancelText="الغاء" required="true">
                <!--<img src={{country.picpath}}>-->
           <ion-option (ionSelect)="getSelectedService(s.service_id)"  *ngFor="let s of provideServices" value={{s.title_ar}}  required>{{s.title_ar}}</ion-option>
        </ion-select>
    </ion-item>
  <!-- <ion-list radio-group style="text-align: end;margin: 0;">
        <ion-item>
           <ion-label style="color: black;text-align: end;">مقدم خدمات</ion-label>
            <ion-radio  name="ser"value="go"></ion-radio>
        </ion-item>

        <ion-item>
             <ion-label style="color: black;text-align: end;">باحث عن خدمات</ion-label>
            <ion-radio checked="true"  name="ser" value="rust"></ion-radio>
        </ion-item>
  </ion-list> -->

  <!--<p class="thelabel">الخدمات المقدمة</p>-->
  <!--<ion-input style="text-align:center" type="text" placeholder="الخدمات المقدمة"></ion-input>-->
    <ion-item class="selection">
        <ion-label> اختر الدولة</ion-label>
        <ion-select  interface="popover"   okText="اختر" cancelText="الغاء" required="true" >
            <ion-option (ionSelect)="getSelectedC(c.country_id)"  *ngFor="let c of cs"  value={{c.title_ar}} required>{{c.title_ar}}</ion-option>
        </ion-select>
    </ion-item>

  <button  [disabled]="!f.valid" (click)="submit()" ion-button block class="btn">التسجيل</button>

</form>

</ion-content>
