page-signup {
.toprow{
    background-color: #efc658;
    font-family: 'AppFont' !important;
    height: 40px;
}
header .headerrow img {
    display: none;
}
.topp{
    font-size: 11px;
    font-family: Appfont;
    text-align: center;
    color: #9e9e9e;
}
.thelabel{
    color: black !important;
    font-size: 13px;
    font-weight: 600;
    text-align: end;
    font-family: Appfont;
    margin: 0;
   
}
.remb{
    color: gray !important;
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0;
    font-family: Appfont;
    h6{
        padding: 0 10px;
        font-family: Appfont;
        display: inline;
        font-size: 15px
   }
}
.text-input{
    border: 1px solid lightgray;
    height: 25px;
    margin: 5px 0;
    direction: rtl;
    width: 100%;
    
}
.text-input::placeholder{
        font-family: Appfont;
        font-size: 12px;
        padding: 5px
    }
.myform{
    width:90%;
    margin: 0 auto;
    z-index: 1;
} 
.item{
    width: auto;
    display: inline-flex;
    height: 40px;
}
.label{
    font-family: Appfont;
    font-size: 12px;
}
.item-md.item-block .item-inner{
    padding: 0;
    border:none;
}
.item-md .radio-md{
    margin: 0;
}

.btn{
    background-color: #ba8700;
    border-radius: 5px;
    width: 30%;
    margin:20px auto;
    font-family: Appfont;
    z-index: 1;
}
.radio-md .radio-checked {
    border-color: gray;
}
.radio-md .radio-inner{
    background-color: black
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border:none;
}
.list-ios > .item-block:first-child, .list-ios > .item-wrapper:last-child .item-block{
    border:none;
    
}
.list-ios > .item-block:last-child .item-inner{
    padding: 0;
}
.list-ios .item-block .item-inner{
     border:none;
}
.item-ios .radio-ios{
    margin:0;
}
.item-cover{
    position: relative;
}
    .select-text {
        pointer-events: all;

        //overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 16;
        max-width: 212px;
        min-width: 58%;
        font-size: inherit;
        text-overflow: ellipsis;
        //white-space: normal;
    }
}
