page-cartshopping {
.content{
   
    background-image: none;

}

.toprow{
    background-color: #efc658;
    text-align: center;
    font-family: 'AppFont' !important;
}
.contdiv{
    padding: 10px ;
    background-color: #f4f4f4;
    font-family: Appfont;
}
.itemrow{
    background: white;
    direction: rtl;
    height: 120px;
    border-bottom: 2px solid lightgray;
    ion-icon{
        color: lightgray;
       
    }
}
p{
    margin:0;
}
.p1{
    font-weight: 600;

}
.p2{
    color: gray;
    height: 30px;
    max-height: 30px;
    font-size: 12px;
    overflow: scroll;
}
.p3{
    font-weight: 600;
    color:#efc658 ; 
}
.shopimg{
    height: 70%;
    border: 1px solid gray;
    margin: 15px 0;
}
.botrow{
    direction: rtl;
    text-align: center;
    margin: 10px 0%;
    color: white;
    font-weight: 600;
    position: relative;
    bottom: 0;
    p{
        height: 55px;
        background: #ba8700;
        padding-top: 10px;
        
    }
}
}
