page-tourtables {
    .toprow{
        background-color: #efc658;
        text-align: center;
        font-family: 'AppFont' !important;
    }
    .contdiv{
        border: 1px solid #ba8700;
        height: 45px;
        width: 75%;
        margin: 20px auto;
        font-family: Appfont;
        font-size: 15px;
        padding: 5px 0;
        text-align: center;
    }
}
